<!--
<div *ngIf="latestRaceDescription">
<H3>Après Course #{{latestRaceDescription.number}} du {{latestRaceDescription.scheduled.getUTCDate()}}/{{latestRaceDescription.scheduled.getUTCMonth()+1}}/{{latestRaceDescription.scheduled.getUTCFullYear()}}</H3>
<H3> </H3>
<H3>{{latestRaceDescription.name}} @ {{latestRaceDescription.location}}</H3>
</div>
-->
<race-description [raceDescription]="latestRaceDescription" [isOngoing]="isOngoing()"></race-description>

<div class="ui grid posts">
  <participant-row *ngFor="let participant of sortedParticipants(); let i=index" [participant]="participant" [showDriverSummaries]="showDriverSummaries"></participant-row>
</div>
